*,
*:after,
*:before {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}

html,
body {
  font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
  font-size: 1rem;
  text-shadow: 1px 1px 1px #ccc;
}

/* comfortaa-regular - cyrillic-ext */
@font-face {
  font-family: 'Comfortaa';
  font-style: normal;
  font-weight: 400;
  src: url('./assets/fonts/comfortaa-v30-cyrillic-ext-regular.eot'); /* IE9 Compat Modes */
  src: local(''),
    url('./assets/fonts/comfortaa-v30-cyrillic-ext-regular.eot?#iefix')
      format('embedded-opentype'),
    /* IE6-IE8 */ url('./assets/fonts/comfortaa-v30-cyrillic-ext-regular.woff2')
      format('woff2'),
    /* Super Modern Browsers */
      url('./assets/fonts/comfortaa-v30-cyrillic-ext-regular.woff')
      format('woff'),
    /* Modern Browsers */
      url('./assets/fonts/comfortaa-v30-cyrillic-ext-regular.ttf')
      format('truetype'),
    /* Safari, Android, iOS */
      url('./assets/fonts/comfortaa-v30-cyrillic-ext-regular.svg#Comfortaa')
      format('svg'); /* Legacy iOS */
}

/* marck-script-regular - cyrillic */
@font-face {
  font-family: 'Marck Script';
  font-style: normal;
  font-weight: 400;
  src: url('./assets/fonts/marck-script-v11-cyrillic-regular.eot'); /* IE9 Compat Modes */
  src: local(''),
    url('./assets/fonts/marck-script-v11-cyrillic-regular.eot?#iefix')
      format('embedded-opentype'),
    /* IE6-IE8 */ url('./assets/fonts/marck-script-v11-cyrillic-regular.woff2')
      format('woff2'),
    /* Super Modern Browsers */
      url('./assets/fonts/marck-script-v11-cyrillic-regular.woff')
      format('woff'),
    /* Modern Browsers */
      url('./assets/fonts/marck-script-v11-cyrillic-regular.ttf')
      format('truetype'),
    /* Safari, Android, iOS */
      url('./assets/fonts/marck-script-v11-cyrillic-regular.svg#MarckScript')
      format('svg'); /* Legacy iOS */
}

/* yanone-kaffeesatz-regular - cyrillic */
@font-face {
  font-family: 'Yanone Kaffeesatz';
  font-style: normal;
  font-weight: 400;
  src: url('./assets/fonts/yanone-kaffeesatz-v16-cyrillic-regular.eot'); /* IE9 Compat Modes */
  src: local(''),
    url('./assets/fonts/yanone-kaffeesatz-v16-cyrillic-regular.eot?#iefix')
      format('embedded-opentype'),
    /* IE6-IE8 */
      url('./assets/fonts/yanone-kaffeesatz-v16-cyrillic-regular.woff2')
      format('woff2'),
    /* Super Modern Browsers */
      url('./assets/fonts/yanone-kaffeesatz-v16-cyrillic-regular.woff')
      format('woff'),
    /* Modern Browsers */
      url('./assets/fonts/yanone-kaffeesatz-v16-cyrillic-regular.ttf')
      format('truetype'),
    /* Safari, Android, iOS */
      url('./assets/fonts/yanone-kaffeesatz-v16-cyrillic-regular.svg#YanoneKaffeesatz')
      format('svg'); /* Legacy iOS */
}
