/* comfortaa-regular - cyrillic-ext */
@font-face {
  font-family: 'Comfortaa';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/comfortaa-v30-cyrillic-ext-regular.eot'); /* IE9 Compat Modes */
  src: local(''),
    url('../fonts/comfortaa-v30-cyrillic-ext-regular.eot?#iefix')
      format('embedded-opentype'),
    /* IE6-IE8 */ url('../fonts/comfortaa-v30-cyrillic-ext-regular.woff2')
      format('woff2'),
    /* Super Modern Browsers */
      url('../fonts/comfortaa-v30-cyrillic-ext-regular.woff') format('woff'),
    /* Modern Browsers */ url('../fonts/comfortaa-v30-cyrillic-ext-regular.ttf')
      format('truetype'),
    /* Safari, Android, iOS */
      url('../fonts/comfortaa-v30-cyrillic-ext-regular.svg#Comfortaa')
      format('svg'); /* Legacy iOS */
}

/* marck-script-regular - cyrillic */
@font-face {
  font-family: 'Marck Script';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/marck-script-v11-cyrillic-regular.eot'); /* IE9 Compat Modes */
  src: local(''),
    url('../fonts/marck-script-v11-cyrillic-regular.eot?#iefix')
      format('embedded-opentype'),
    /* IE6-IE8 */ url('../fonts/marck-script-v11-cyrillic-regular.woff2')
      format('woff2'),
    /* Super Modern Browsers */
      url('../fonts/marck-script-v11-cyrillic-regular.woff') format('woff'),
    /* Modern Browsers */ url('../fonts/marck-script-v11-cyrillic-regular.ttf')
      format('truetype'),
    /* Safari, Android, iOS */
      url('../fonts/marck-script-v11-cyrillic-regular.svg#MarckScript')
      format('svg'); /* Legacy iOS */
}

/* yanone-kaffeesatz-regular - cyrillic */
@font-face {
  font-family: 'Yanone Kaffeesatz';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/yanone-kaffeesatz-v16-cyrillic-regular.eot'); /* IE9 Compat Modes */
  src: local(''),
    url('../fonts/yanone-kaffeesatz-v16-cyrillic-regular.eot?#iefix')
      format('embedded-opentype'),
    /* IE6-IE8 */ url('../fonts/yanone-kaffeesatz-v16-cyrillic-regular.woff2')
      format('woff2'),
    /* Super Modern Browsers */
      url('../fonts/yanone-kaffeesatz-v16-cyrillic-regular.woff') format('woff'),
    /* Modern Browsers */
      url('../fonts/yanone-kaffeesatz-v16-cyrillic-regular.ttf')
      format('truetype'),
    /* Safari, Android, iOS */
      url('../fonts/yanone-kaffeesatz-v16-cyrillic-regular.svg#YanoneKaffeesatz')
      format('svg'); /* Legacy iOS */
}
